<%= form_with(model: artistum, local: true) do |form| %>
  <% if artistum.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(artistum.errors.count, "error") %> prohibited this artistum from being saved:</h2>

      <ul>
      <% artistum.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_field :nombre %>
  </div>

  <div class="field">
    <%= form.label :cv %>
    <%= form.text_field :cv %>
  </div>

  <div class="field">
    <%= form.label :imagen %>
    <%= form.file_field :imagen, multiple: true %>
  </div>

  <div class = "field">
    <%=form.label :catalogo%>
    <%=form.file_field :catalogo%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

