<!DOCTYPE html>
<html>
	<head>	
		<p id="notice"><%= notice %></p>
			<div class="boton_atras">
				<%= link_to 'Atrás', artista_path %>
			</div>
	</head>
	<body>
		<div>
			<p class="header_artista">
				<%= @artistum.nombre %>
			</p>
			<p class="cuerpo_artistxs" style="width: 700px;padding-right: 60px;">
		  			<%= @artistum.cv %>
			
			</p>
		</div>
			
		
			<div>
				<%(0...@artistum.imagen.count).each do |imagen|%>
				<%= image_tag(@artistum.thumbnail(imagen))%>	
				<%end%>
			</div>
		
	</body>
</html>
<!--
	<%= link_to 'Edit', edit_artistum_path(@artistum) %>-->
