<!DOCTYPE html>
<html>
	<head>	
		<p id="notice"><%= notice %></p>
			<div class="boton_atras">
				<%= link_to 'Atrás', artista_path %>
			</div>
	</head>
	<body>
		<div>
			<div class="header_artista">
				<%= @artistum.nombre %>
			</div>
			<div class="cuerpo_artistxs">
		  			<%= @artistum.cv %>
			
			</div>
				
			<%(0...@artistum.imagen.count).each do |imagen|%>
			<div>
			<%= image_tag(@artistum.thumbnail(imagen))%>
			</div>
			<%end%>
		</div>
	</body>
</html>
<!--
	<%= link_to 'Edit', edit_artistum_path(@artistum) %>-->
