<!DOCTYPE html>
<html>
	<head>	
		<p id="notice"><%= notice %></p>
			<div class="boton_atras">
				<%=link_to (image_tag 'fotos/flecha_atras.png',style:"height:50px"), pagina_inicio_path %>
			</div>
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
	<style>
.mySlides {display:none}
</style>
	</head>
	<body>
		<div>
			<p class="header_artista">
				<%= @artistum.nombre %></p>
			<p class="cuerpo_artistxs">
		  			<%= @artistum.cv %></p>
		</div>
		<p style="text-align: right; padding-right: 40px; font-size: 18px;text-decoration: underline;">
			<%if @artistum.catalogo.attached?%>
			<%= link_to 'descargar cátalogo', @artistum.catalogo, disposition: :inline%>
				<%end%>
			</p>
		<p class="header_artista" style="padding-left: 25px;"><i>Selección de obras:</i></p>
		<div class="row fadeinlargo">

					<%(0...@artistum.imagen.count).each do |imagen|%>
					
				<div class= "column">
					<%= image_tag(@artistum.thumbnail(imagen), style:"width:100%", onclick:"onClick(this)", class:"w3-hover-opacity")%>
			</div>
					<%end%>	
				</div>
				<div id="modal01" class="w3-modal" onclick="this.style.display='none'">
  <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
  <div class="w3-modal-content w3-animate-zoom">
    <img id="img01" style="width:100%">
  </div>
</div>
			
		 <script>
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
}
   </script>
				
	</body>
	<footer style="height: 30px;">
</footer>
</html>
<!--
	<%= link_to 'Edit', edit_artistum_path(@artistum) %>-->
