<!DOCTYPE html>
<html>
<head>
    <p id="notice"><%= notice %></p>
  <div class="boton_atras">
        <%=link_to (image_tag 'fotos/flecha_atras.png',style:"height:50px"), exposicions_path %>
      </div>
      <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body>
  <div>
  <p class="contenedor_muestras">
   <strong><%= @exposicion.titulo_expo %><br></strong>
   &nbsp<br>
   <i><%= @exposicion.fechas %><br>
   </i></p>
   <div class="contenedor_textosala w3-dropdown-click">
     <button onclick="myFunction()" class="w3-button w3-black">Texto de sala</button>
     <div id="Demo" class="w3-dropdown-content w3-bar-block w3-card-4 w3-animate-zoom">
        <%= @exposicion.texto %>
      </div>
    </div>
   </div>
  </div>
  <p style="text-align: right; padding-right: 40px; font-size: 18px;text-decoration: underline;"><%= link_to 'Descargar gacetilla' %></p>
  <div class="visordeimagenes_expo">
        <p class="header_artista" style="padding-left: 230px;"><i>Imágenes Expo:</i></p>
        <%(0...@exposicion.imagenes_expo.count).each do |imagenes_expo|%>
          <div class="w3-content w3-display-container">
            
          <div class="mySlides">
             <button class="w3-button w3-display-left" onclick="plusDivs(-1)">&#10094;</button>
            
          <%= image_tag(@exposicion.thumbnail(imagenes_expo),style:"width:100%")%>
           <button class="w3-button w3-display-right" onclick="plusDivs(+1)">&#10095;</button>
        </div>
      </div>
          <%end%>
   </div>
   <script>
function myFunction() {
  var x = document.getElementById("Demo");
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
   <script type="text/javascript">
     var slideIndex = 1;
showDivs(slideIndex);

function plusDivs(n) {
  showDivs(slideIndex += n);
}

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("mySlides");
  if (n > x.length) {slideIndex = 1} 
  if (n < 1) {slideIndex = x.length} ;
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none"; 
  }
  x[slideIndex-1].style.display = "block"; 
}
   </script>
</body>
</html>