<p id="notice"><%= notice %></p>
<div class="boton_atras">
				<%= link_to 'Atrás', exposicions_path %>
</div>
<div class="contenedor_muestras">
<p>
  <strong>
  <%= @exposicion.titulo_expo %></strong>
</p>

<p>
  <%= @exposicion.fechas %>
</p>

<p>
  <i>Texto de sala</i><br>
  <%= @exposicion.texto %>
</p>
<p>
  <strong>Imagenes expo:</strong><br>
  <div>
			<%(0...@exposicion.imagenes_expo.count).each do |imagenes_expo|%>
			<%= image_tag(@exposicion.thumbnail(imagenes_expo))%>
			</div>
			<%end%>
</p>
</div>