<%= form_with(model: fair, local: true) do |form| %>
  <% if fair.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fair.errors.count, "error") %> prohibited this fair from being saved:</h2>

      <ul>
      <% fair.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nombre %>
    <%= form.text_area :nombre %>
  </div>

  <div class="field">
    <%= form.label :flyer %>
    <%= form.file_field :flyer %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
