
<!DOCTYPE html>
<html>
	<head>
		<div>
			<%= image_tag 'fotos/ad_sinfondo.png',style:"height:100px";%>
		</div>
	</head>
<body>
	<div class= "menuinicio fadeinlargo">
			<p>
				<%= link_to 'ARTISTXS', artista_path, class: 'texto_artistxs'%>
			</p>
			<p>
				<%= link_to 'MUESTRAS', exposicions_path, class: 'texto_muestras'%>
			</p>
			<p>
				<%= link_to 'Contacto', pagina_contacto_path, class: 'texto_contacto'%>
			</p>
			<p>
				<%= link_to 'Sobre nosotrxs', pagina_info_path, class: 'texto_sobrenos'%>
			</p>
	</div>

</body>
</html>
	