
<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<div>
			<% if user_signed_in? %>
  <div>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
  </div>
  <%end%>
		</div>
		<div style = "padding-top:15px; padding-left:15px;">
			<%= image_tag 'fotos/ad_sinfondo.png',style:"height:100px;";%>
		</div>
	</head>
<body>
	<div class= "menuinicio fadeinlargo">
			<p style= "cursor: pointer;"class= "texto_artistxs" onclick="myFunction('Demo1')"> 
        ARTISTXS</p>
      <div id="Demo1" class="w3-hide w3-animate-right">
        <% @artista.each do |artistum|%>
          <p> <%=link_to artistum.nombre, artistum_path(artistum.id)%></p>
        <%end%>
        </div>
			<p>
				<%= link_to 'MUESTRAS', exposicions_path, class: 'texto_muestras'%>
			</p>
			<p style="padding-top: 7px;">
				<%= link_to 'Nosotrxs', pagina_info_path, class: 'texto_sobrenos'%>
			</p>
			<p style="padding-top: 7px;">
				<%= link_to 'Ferias', fairs_path, class: 'texto_ferias'%>
			</p>
			<p style="padding-top: 7px;">
				<%= link_to 'Noticias', noticia_path, class: 'texto_contacto'%>
			</p>
	</div>
<script>
function myFunction(id) {
  var x = document.getElementById(id);
  if (x.className.indexOf("w3-show") == -1) {
    x.className += " w3-show";
  } else { 
    x.className = x.className.replace(" w3-show", "");
  }
}
</script>
	<footer>
	<div id="footer" style="padding-bottom: 60px;">
		<%=link_to (image_tag 'fotos/botonig.png',style:"height:50px"), "http://www.instagram.com/_constitucion_/"%>&nbsp<%=link_to (image_tag 'fotos/botonfb.png',style:"height:50px;padding-left:5px;"), "http://www.facebook.com/constitucionespacio/"%>	
				</div>
</footer>
</body>
</html>
	