
<!DOCTYPE html>
<html>
	<head>
		<div>
			<% if user_signed_in? %>
  <div>
  <%= link_to('Logout', destroy_user_session_path, method: :destroy) %>        
  </div>
  <%end%>
		</div>
		<div>
			<%= image_tag 'fotos/ad_sinfondo.png',style:"height:100px";%>
		</div>
	</head>
<body>
	<div class= "menuinicio fadeinlargo">
			<p>
				<%= link_to 'ARTISTXS', artista_path, class: 'texto_artistxs'%>
			</p>
			<p>
				<%= link_to 'MUESTRAS', exposicions_path, class: 'texto_muestras'%>
			</p>
			<p>
				<%= link_to 'Ferias', fairs_path, class: 'texto_ferias'%>
			</p>
			<p>
				<%= link_to 'Contacto', pagina_contacto_path, class: 'texto_contacto'%>
			</p>
			<p>
				<%= link_to 'Sobre nosotrxs', pagina_info_path, class: 'texto_sobrenos'%>
			</p>
	</div>
	<footer>
	<div id="footer" style="padding-bottom: 60px;">
		<%=link_to (image_tag 'fotos/botonig.png',style:"height:50px"), "http://www.instagram.com/_constitucion_/"%>&nbsp<%=link_to (image_tag 'fotos/botonfb.png',style:"height:50px"), "http://www.facebook.com/constitucionespacio/"%>	
				</div>
</footer>
</body>
</html>
	